{% htmlcompress %}
<html>
<head>
    <title>Volistx Lumen API Skeleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/milligram.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
<nav class="navigation">
    <section class="container">
        <a href="/">
            <h1 class="title">Volistx Lumen API Skeleton</h1>
        </a>
    </section>
</nav>
<div style="margin-top: 80px"></div>

<div class="container">
    <div style="text-align: center;">
        <h3>Reusable Framework For Volistx API</h3>
        <p>This is a pre-made skeleton for Volistx API platform using Lumen PHP Framework.</p>
        <p>Let's make some awesome thing together!</p>
    </div>
</div>

<script src="/js/jquery-3.5.1.min.js"></script>
</body>
</html>
{% endhtmlcompress %}